:root {
  --doc-height: 100%;
}

@font-face {
  font-family: "kavoon";
  src: url("./assets/font/Kavoon/Kavoon-Regular.ttf") format("truetype");
}

body {
  background: linear-gradient(to bottom right, #220122, #3d0162) no-repeat 50%;
  margin: 0;
  overflow: hidden;
  min-height: 100%;
  color: white;
}

.App {
  height: 100vh;
  /* fallback for Js load */
  width: 100vw;
  height: var(--doc-height);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.page {
  padding-top: 3rem;
  flex-grow: 1;
}

.loginDiv {
  height: fit-content;
  width: fit-content;
}

.authPage {
  display: flex;
  justify-content: center;
}

.titleDiv {
  max-width: 750px;
}

.titleDiv .title {
  font-family: 'kavoon';
  font-size: 70px;
}

.line {
  background-color: white;
}

.titleDiv .line {
  height: 3px;
  margin: 0 0 10px;
  max-width: 300px;
}

.loginDiv {
  position: relative;
  top: 15rem;
}

.lightBox {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.lightBox:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(aqua, transparent);
  left: -50%;
  top: -50%;
}

.lightBox::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(0deg, aqua, transparent);
  left: 50%;
  top: 50%;
}

.lightBoxPanel {
  background-color: #000;
  border-radius: 10px;
  inset: 1px;
  position: absolute;
  z-index: 1;
}

.authForm {
  grid-gap: 5px;
  display: grid;
  gap: 5px;
  padding: 30px;
  text-align: center;
}

.formTitle {
  font-family: "kavoon";
}

.inputBox {
  margin-top: 10px;
  position: relative;
}

.inputBox input {
  background-color: initial;
  border: none;
  color: #fff;
  outline: none;
  width: 100%;
}

.inputBox input:valid~label {
  transform: translate(-5px, -20px);
  font-size: 12px;
  color: aqua;
}

.inputBox input:focus~label {
  transform: translate(-5px, -20px);
  font-size: 12px;
  color: aqua;
}

.inputBox label {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: 1s;
}

.inputBox .line {
  background-color: #fff;
  height: 1px;
}

.errorMessage {
  color: red;
}

button {
  border-radius: 10px;
  min-width: 30px;
}

button:hover:enabled {
  background-color: aqua;
  box-shadow: 0 0 10px aqua;
  font-weight: bold;
  color: white;
}

.loginForm {
  height: 350px;
  width: 350px;
}

.text-fam-kavoon {
  font-family: "kavoon";
}

.itemContainer {
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  background-color: white;
  color: black;
  padding: 10px;
}

.itemContainer .topDescription {
  display: grid;
  gap: 5px;
}

.itemContainer .topDescription .line {
  background-color: black;
  height: 2px;
  width: 100%;
}

.itemContainer .topDescription .searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
}

.searchBox input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 200px;
}

.itemPanel {
  border-radius: 10px;
  box-shadow: inset 0 0 10px black;
  margin-top: 10px;
  padding: 10px;
  display: flex;
}

.empty-list {
  width: fit-content;
  padding: 0;
  margin: auto;
}

.mid-size-title {
  font-family: kavoon;
  font-size: 40px;
}

.loadingPage {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.createQuizPage form {
  display: grid;
  gap: 10px;
}

.itemsList {
  display: grid;
  gap: 5px;
  width: 100%;
}

.itemBox {
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  padding: 5px;
  padding-top: 10px;
  height: 150px;
}

.createQuizPage .itemBox {
  padding-top: 20px;
  height: 220px;
}

.createQuizPage .itemBox .deleteQuestion {
  position: absolute;
  right: 10px;
  top: 10px;
}

.createQuizPage .itemBox .question {
  display: grid;
  padding: 5px;
}

textarea {
  border-radius: 5px;
  resize: none;
}

.createQuizPage .answer {
  display: grid;
  padding: 0 5px;
}

.createQuizPage .answer input {
  border-radius: 5px;
}

.itemsList {
  max-height: 50vh;
  overflow: auto;
}

.itemPanel {
  min-height: 70vh;
}

.itemName {
  font-family: "kavoon";
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.popupBlocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizzesPage .selection {
  background-color: black;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: white 1px solid;
  display: grid;
  gap: 5px;
}

.hidden {
  position: absolute;
  top: 500%;
  opacity: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.quizPage .itemPanel .popupBlocker{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.quizPage .itemPanel .correctAnsPopup{
  background-color: black;
  width: 200px;
  display: grid;
  color: white;
  padding: 10px;
  z-index: 1;
}

.pad{
  background-color: white;
  color: black;
}

.quizPage .itemPanel {
  flex-direction: column;
  min-height: auto;
}