.profilePage {
    color: white;
}

.profilePage .top {
    margin: 20px;
}

.profilePage .imgFrame {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profilePage img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profilePage .line {
    height: 2px;
    width: 100%;
    border-radius: 10px;
}